/* container: */
/* flex-direction: row/column; */
/* justify-content: flex-start/center/flex-end/space-evenly/space-around/space-between; */
/* align-items: flex-start/center/baseline; */
/* flex-wrap: wrap; */

.flex-container {
    display: flex;

    height: 140px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
}

/* container div: */
/* flex: 1/2/3; */
/* font-size: 1.5rem; */
/* flex-shrink: 0; */
/* flex-basis: 300px; */
/* align-self: center; */
/* order: -1; */

.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 100px;
    flex: 1;
}

.flex-container .green {
    background-color: #96ceb4;
    flex-shrink: 0;
}

/* Flex-Grow */
.flex-container .red {
    background-color: #ff6f69;
    flex: 2;
}

.flex-container .purple {
    background-color: #ab53d3;
    flex-basis: 100px;
}

/* Flex-Shrink */
.flex-container .grey {
    background-color: grey;
    /* flex-shrink: 0; */
    flex-basis: 300px;
}

.flex-container .new {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
    align-self: flex-start;
    font-size: 3rem;
    color: white;
}