/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: #333333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation */
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}

nav ul li a {
  color: grey;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6b6b;
}

section {
  padding: 0px 0;
}

/* Text */
#hero {
  text-align: center;
  background-color: white;
  padding: 40px 0;
}

#hero:hover {
  color: #ff6b6b;
}

#hero h1 {
  font-size: 48px;
}

#hero h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Slider */
.slider-wrapper {
	position: relative;
	margin: 0 auto;
}

.slider {
	display: flex;
  aspect-ratio: 16 / 6;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 5rem;
	height: 0.5rem;
  border-radius: 1rem;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

/* Recipes */
.recipes__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  padding: 40px;
}

.recipes__img {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
}

.recipes__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s;
}

.recipes__img:hover img {
  transform: scale(1.1);
}

#home h2,
#contact h2,
#about h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

#home p,
#contact p,
#about {
  font-size: 18px;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.experience-item {
  margin-bottom: 40px;
}

.experience-item h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.experience-item h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.experience-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.experience-item ul {
  margin-left: 20px;
  font-size: 16px;
}

footer {
  background-color: #222222;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer p {
  margin-bottom: 0;
}